@using Models;
@model ICollection<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClinteLayout.cshtml";
    CompletedECommerce.Databse.ECommerceDb ecommerceDb = new CompletedECommerce.Databse.ECommerceDb();
    float totalPrice = 0;
}


<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a> <span class="divider">/</span></li>
    <li class="active"> SHOPPING CART</li>
</ul>
<h3>  SHOPPING CART [ <small>@Model.Count() Items </small>]<a asp-controller="Home" asp-action="Index" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
<hr class="soft">

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Quantity/Update</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            ProductPhoto aProductPhoto = ecommerceDb.ProductPhotos
                                        .Where(pp => pp.ProductId == product.Id && pp.Featured == true)
                                        .FirstOrDefault();
            var productPhotoName = aProductPhoto == null ? "SlideShow/NoImageFound.png" : aProductPhoto.Photo;

            <tr>
                <td> <img width="60" src="~/@productPhotoName" alt=""></td>
                <td>@product.Name</td>
                <td>
                    <div class="input-append">
                        <input class="span1" value="@product.Quantity" name="quantity" style="max-width:34px" id="appendedInputButtons" size="16" type="number">
                        <a asp-controller="Cart" asp-action="Update" asp-route-id="@product.Id" name="quantity" class="btn btn-danger">
                            <i class="icon-pencil"></i>
                        </a>
                        <a asp-controller="Cart" asp-action="Remove" asp-route-id="@product.Id" class="btn btn-danger">
                            <i class="icon-remove icon-white"></i>
                        </a>
                    </div>
                </td>
                <td>$@product.Price</td>
                <td>
                    @{
                        float subTotalPrice = product.Quantity * product.Price;
                        totalPrice = subTotalPrice + totalPrice;
                    }
                    $@subTotalPrice
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" style="text-align:right"><strong>TOTAL =</strong></td>
            <td class="label label-important" style="display:block"> <strong> $@totalPrice </strong></td>
        </tr>
    </tbody>
</table>


<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label"><strong> VOUCHERS CODE: </strong> </label>
                        <div class="controls">
                            <input type="text" class="input-medium" placeholder="CODE">
                            <button type="submit" class="btn"> ADD </button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>

    </tbody>
</table>

<a asp-controller="Home" asp-action="Index" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
<a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>

