@using Models;
@model SlideShow;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Slide Show Info</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form method="post" asp-controller="SlideShow" asp-action="Add" enctype="multipart/form-data">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="@Model.Photo">Photo</label>
                    <input type="file" asp-for="@Model.Photo" class="form-control" required="required">
                    <span asp-validation-for="@Model.Photo" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" asp-for="@Model.Status"> Status
                        <span asp-validation-for="@Model.Status" class="text-danger"></span>
                    </label>
                </div>
            </div><!-- /.box-body -->

            <div class="box-footer">
                <span class="text-danger">@ViewBag.ErrorMessage</span>
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>