@using Models;
@model ICollection<Product>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ICollection<InvoiceDetails> invoiceDetailsList = ViewBag.InvoiceDetailsList;
}

<section class="content-header">
    <h1>
        Product List
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="myTable" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Basic Info</th>
                                <th>Item Info</th>
                                <th>Describe</th>
                                <th>Status</th>
                                <th>Photo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product product in Model)
                            {
                                int sellProduct = 0;
                                ICollection<InvoiceDetails> getInvoiveDetailsListBySelectedProduct = invoiceDetailsList
                                                    .Where(idl => idl.ProductId == product.Id).ToList();

                                foreach (InvoiceDetails singleInvoice in getInvoiveDetailsListBySelectedProduct)
                                {
                                    sellProduct = singleInvoice.Quantity + sellProduct;
                                }

                                int totalProduct = product.Quantity - sellProduct;

                                <tr>
                                    <td>
                                        Name : @product.Name <br />
                                        Category : @product.Category.Name <br />
                                    </td>
                                    <td>
                                        Price : <span class="badge bg-green">@product.Price</span> <br />
                                        Quantity : <span class="badge bg-light-blue">@product.Quantity</span>
                                        Sell : <span class="badge bg-yellow">@sellProduct</span> <br />
                                        Total : <span class="badge bg-red">@totalProduct</span>                                     
                                    </td>
                                    <td>
                                        Details : @product.Details <br />
                                        Discription : @product.Description <br />
                                    </td>
                                    <td>
                                        Featured : @product.Featured <br />
                                        Status : @product.Status <br />
                                    </td>
                                    <td>
                                        @{ 
                                            List<ProductPhoto> productPhotos = product.ProductPhotos.ToList();
                                            ProductPhoto selectedProductPhoto = productPhotos.Where(ph => ph.Featured == true).FirstOrDefault();
                                         }
                                        @if (selectedProductPhoto != null)
                                        {
                                            <img src="~/@selectedProductPhoto.Photo" width="100" />
                                        }
                                        else
                                        {
                                            <img src="~/SlideShow/NoImageFound.png" width="100" />
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="AllProductImage" asp-route-id="@product.Id" class="btn btn-primary">Photo List</a> |
                                        <a asp-controller="ProductPhoto" asp-action="Create" asp-route-id="@product.Id" class="btn btn-success">Add Photo</a> |
                                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-info">Edit</a> |
                                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Basic Info</th>
                                <th>Item Info</th>
                                <th>Describe</th>
                                <th>Status</th>
                                <th>Photo</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
</section>

