@using Models;
@model Product;
   
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_ClinteLayout.cshtml";
    
}

<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a> <span class="divider">/</span></li>
    <li class="active">Product Details</li>
</ul>
<div class="row">
    <div id="gallery" class="span3">
        <a href="~/@ViewBag.ProductFeaturedPhotoName" title="@Model.Name">
            <img src="~/@ViewBag.ProductFeaturedPhotoName" style="width:100%" alt="@Model.Name">
        </a>
        <div id="differentview" class="moreOptopm carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    @foreach (ProductPhoto productPhoto in ViewBag.ProductPhotoList)
                    {
                        <a href="~/@productPhoto.Photo"><img style="width:29%" src="~/@productPhoto.Photo" alt=""></a>
                    }
                </div>              
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
        <div class="btn-toolbar">
            <div class="btn-group">
                <span class="btn"><i class="icon-envelope"></i></span>
                <span class="btn"><i class="icon-print"></i></span>
                <span class="btn"><i class="icon-zoom-in"></i></span>
                <span class="btn"><i class="icon-star"></i></span>
                <span class="btn"><i class=" icon-thumbs-up"></i></span>
                <span class="btn"><i class="icon-thumbs-down"></i></span>
            </div>
        </div>
    </div>
    <div class="span6">
        <h3>@Model.Name</h3>
        <hr class="soft">
        <form method="get" asp-controller="Cart" asp-action="AddProduct" asp-route-quantity="quantity" class="form-horizontal qtyFrm">
            <div class="control-group">
                <label class="control-label"><span>$@Model.Price</span></label>
                <div class="controls">
                    <input type="number" min="1" value="1" name="quantity" class="span1" placeholder="Qty.">
                    <button type="submit" asp-controller="Cart" asp-action="AddProduct" asp-route-id="@Model.Id" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
                </div>
            </div>
        </form>
        <hr class="soft">
        <h4>@Model.Quantity items in stock</h4>
        <a class="btn btn-small pull-right" href="#detail">More Details</a>
        <br class="clr">
        <a href="#" name="detail"></a>
        <hr class="soft">
    </div>

    <div class="span9">
        <ul id="productDetail" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
            <li><a href="#profile" data-toggle="tab">Related Products</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <p>@Model.Details</p>
            </div>
            <div class="tab-pane fade" id="profile">
                <div id="myTab" class="pull-right">
                    <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                    <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                </div>
                <br class="clr">
                <hr class="soft">
                <div class="tab-content">
                    <div class="tab-pane" id="listView">
                        <div class="row">
                            @foreach (Product product in ViewBag.RelatedProduct)
                            {
                                ProductPhoto aProductPhoto = product.ProductPhotos
                                                               .Where(ph => ph.Featured == true).FirstOrDefault();
                                string productPhotoName = aProductPhoto == null ? "SlideShow/NoImageFound.png" : aProductPhoto.Photo;


                                <div class="span2">
                                    <img src="~/@productPhotoName" alt="">
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft">
                                    <h5>@product.Name </h5>
                                    <p>
                                        @product.Details
                                    </p>
                                    <a class="btn btn-small pull-right" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">View Details</a>
                                    <br class="clr">
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> $@product.Price</h3>
                                        <label class="checkbox">
                                            <input type="checkbox">  Adds product to compair
                                        </label><br>
                                        <div class="btn-group">
                                            <a asp-controller="Cart" asp-action="AddProduct" asp-route-id="@product.Id" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                            <a asp-controller="Cart" asp-action="AddProduct" asp-route-id="@product.Id" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            }
                        </div>
                        <hr class="soft">                              
                    </div>
                    <div class="tab-pane active" id="blockView">
                        <ul class="thumbnails">
                            @foreach (Product product in ViewBag.RelatedProduct)
                            {
                                ProductPhoto aProductPhoto = product.ProductPhotos
                                                               .Where(ph => ph.Featured == true).FirstOrDefault();
                                string productPhotoName = aProductPhoto == null ? "SlideShow/NoImageFound.png" : aProductPhoto.Photo;

                                <li class="span3">
                                    <div class="thumbnail">
                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id"><img src="~/@productPhotoName" alt=""></a>
                                        <div class="caption">
                                            <h5>@product.Name</h5>
                                            <h4 style="text-align:center">
                                                <a class="btn" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id"><i class="icon-zoom-in"></i></a>
                                                <a class="btn" asp-controller="Cart" asp-action="AddProduct" asp-route-id="@product.Id">Add to <i class="icon-shopping-cart"></i></a>
                                                <a class="btn btn-primary" href="#">€@product.Price</a>
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <hr class="soft">
                    </div>
                </div>
                <br class="clr">
            </div>
        </div>
    </div>
</div>

