@using CompletedECommerce.Views.ModelView;
@model CustomerLoginViewModel;

@{
    ViewData["Title"] = "CustomerLogin";
    Layout = "~/Views/Shared/_ClinteLayout.cshtml";
}


<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a> <span class="divider">/</span></li>
    <li class="active">Login</li>
</ul>
<h3> Login</h3>
<div class="well">
    <form class="form-horizontal" method="post" asp-controller="Login" asp-action="CustomerLogin">
        <h4>Your personal information</h4>
        <div class="control-group">
            <label asp-for="@Model.Username" class="control-label">Username <sup>*</sup></label>
            <div class="controls">
                <input type="text" asp-for="@Model.Username" placeholder="User name">
                <span asp-validation-for="@Model.Username" id="username" class="alert-block alert-error fade in"></span>
            </div>
        </div>
        <div class="control-group">
            <label asp-for="@Model.Password" class="control-label">Password <sup>*</sup></label>
            <div class="controls">
                <input type="password" asp-for="@Model.Password" placeholder="Password">
                <span asp-validation-for="@Model.Password" class="alert-block alert-error fade in"></span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <span class="alert-block alert-error fade in">@ViewBag.ErrorMessage</span>  <br />
                <input class="btn btn-large btn-success" type="submit" value="Login">
                <a asp-controller="Account" asp-action="Register" class="btn btn-large btn-primary">Register</a>
            </div>
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

